
<body class="bg-black text-white">
  <div class="container mx-auto px-4 py-12 relative z-10">
    <h1 class="text-4xl font-bold text-center mb-8">Ryan Richardson</h1>
    <p class="text-center mb-12">A highly-motivated web developer with broad experience, seeking a new challenge.</p>

    <div class="bg-gray-800 bg-opacity-80 p-6 rounded-md mb-8">
      <h2 class="text-2xl font-semibold mb-4">Contact</h2>
      <p>Email: <a href="mailto:rrichardson610@gmail.com" class="text-blue-400">rrichardson610@gmail.com</a></p>
      <p>GitHub: <a href="https://github.com/westnorthern" class="text-blue-400" target="_blank">https://github.com/westnorthern</a></p>
      <p>Web: <a href="https://ryanrichardson.space" class="text-blue-400" target="_blank">https://ryanrichardson.space</a></p>
      <p>LinkedIn: <a href="https://www.linkedin.com/in/ryan-richardson262/" class="text-blue-400" target="_blank">www.linkedin.com/in/ryan-richardson262/</a></p>
    </div>

    <div class="bg-gray-800 bg-opacity-80 p-6 rounded-md mb-8">
      <h2 class="text-2xl font-semibold mb-4">Education</h2>
      <p>Defense Language Institute, April 2006 - June 2007</p>
      <p>Mandarin, Chinese 3/3/3+</p>
      <p>New York Code + Design Academy</p>
      <p>Harvard CS50</p>
      <p>Stanford Supervised Machine Learning</p>
    </div>

    <div class="bg-gray-800 bg-opacity-80 p-6 rounded-md mb-8">
      <h2 class="text-2xl font-semibold mb-4">Professional Experience</h2>
      <!-- Mountain Measurement -->
      <div class="mb-6">
        <h3 class="text-xl font-bold">Mountain Measurement</h3>
        <p class="italic">Senior Software Engineer, March 2023 - July 2023</p>
        <ul class="list-disc list-inside">
          <li>Revitalized and optimized a legacy Rails codebase, introducing every new feature required for the company’s newest product.</li>
          <li>Created several new data visualizations for test psychometric data using R, TypeScript, and Chart.js</li>
          <li>Implemented and streamlined continuous deployment pipelines using Gitlab Auto DevOps and Capistrano, reducing deployment time by 70% and enhancing feature rollout efficiency.</li>
          <li>Introduced a suite of tests to a completely untested system using TestBench and Selenium</li>
        </ul>
      </div>
      <!-- LiveView Technologies -->
      <div class="mb-6">
        <h3 class="text-xl font-bold">LiveView Technologies</h3>
        <p class="italic">Senior Software Engineer, 2022 - 2023</p>
        <ul class="list-disc list-inside">
          <li>Led the design and implementation of event-driven microservices using the Eventide Project, facilitating the sharing of data between business domains, completely eliminating manual data entry in the accounting, fulfillment, support, and IT departments.</li>
          <li>Developed and enhanced CI/CD pipelines, supporting rapid scaling of operations.</li>
        </ul>
      </div>
      <!-- MX Technologies -->
      <div class="mb-6">
        <h3 class="text-xl font-bold">MX Technologies</h3>
        <p class="italic">Software Engineer, 2019 - 2022</p>
        <ul class="list-disc list-inside">
          <li>Engineered Ruby on Rails, Sinatra, JavaScript and Google Apps Script to build a large suite of custom tools, enhancing the productivity of the customer support department.</li>
          <li>Designed and managed over 50 Domo cards and Kibana dashboards that significantly enhanced business analytics capabilities.</li>
        </ul>
      </div>
      <!-- Ascend Software -->
      <div class="mb-6">
        <h3 class="text-xl font-bold">Ascend Software</h3>
        <p class="italic">Software Engineer, 2018 - 2019</p>
        <ul class="list-disc list-inside">
          <li>Developed and executed complex SQL queries to identify and resolve software bugs and to update database entries, ensuring data integrity and accuracy.</li>
          <li>Modernized and transitioned legacy VisualBasic applications to C#/.NET platforms, increasing performance and scalability.</li>
          <li>Collaborated closely with clients to develop tailored software solutions, enhancing user satisfaction and engagement.</li>
        </ul>
      </div>
      <!-- Solitude Mountain Resort -->
      <div class="mb-6">
        <h3 class="text-xl font-bold">Solitude Mountain Resort</h3>
        <p class="italic">Ski Patrol / Avalanche Mitigation , 2014 - 2017</p>
        <ul class="list-disc list-inside">
          <li>Collecting snowfall data and blasting snow with explosives as a member of the avalanche mitigation team.</li>
          <li>Provided emergency medical care and rescue services to mountain guests, backcountry skiers, and hikers alike as a member of Wasatch Backcountry Rescue.</li>
        </ul>
      </div>
      <!-- US Army -->
      <div class="mb-6">
        <h3 class="text-xl font-bold">US Army</h3>
        <p class="italic">Cryptologic Linguist, 2005 - 2010</p>
        <ul class="list-disc list-inside">
          <li>Demonstrated fluency in Mandarin Chinese through successful completion of the Defense Language Institute’s intensive language program.</li>
          <li>Applied linguistic skills to decode and translate complex communications in real-time.</li>
          <li>Fostered a collaborative team environment, promoting efficiency and cohesion during high-pressure missions.</li>
        </ul>
      </div>
    </div>

    <div class="bg-gray-800 bg-opacity-80 p-6 rounded-md mb-8">
      <h2 class="text-2xl font-semibold mb-4">Languages</h2>
      <p>Ruby; JavaScript; C# + .NET Core; HTML + CSS; SQL; Some experience in R, Golang, and Python.</p>
    </div>

    <div class="bg-gray-800 bg-opacity-80 p-6 rounded-md mb-8">
      <h2 class="text-2xl font-semibold mb-4">Technologies</h2>
      <p>Ruby on Rails; ASP.NET MVC; React Native; Eventide; Docker; Linux; NGINX; Apache; Git; Unity; Tailwind;</p>
    </div>

    <div class="bg-gray-800 bg-opacity-80 p-6 rounded-md">
      <h2 class="text-2xl font-semibold mb-4">Projects</h2>
      <!-- Curst -->
      <div class="mb-4">
        <h3 class="text-xl font-bold">Curst</h3>
        <p class="italic">Role: Lead Developer, Co-Creator, and Maintainer</p>
        <p>Description: Developed and maintained Curst, an open-source web application designed for discussing and trading spooky objects. Utilized React for the front-end and Ruby on Rails for the back-end.</p>
      </div>
      <!-- Tulipmania -->
      <div class="mb-4">
        <h3 class="text-xl font-bold">Tulipmania</h3>
        <p class="italic">Role: Lead Developer and Co-Creator</p>
        <p>Description: Led the development of Tulipmania, a video game set during the Dutch Golden Age. Collaborated with Kara Van de Graaf, a poet and professor at UVU, focusing on creating a new course on video game narrative. Built the project using Unity.</p>
      </div>
    </div>
  </div>
</body>


