/*
 * Provides a drop-in pointer for the default Trix stylesheet that will format the toolbar and
 * the trix-editor content (whether displayed or under editing). Feel free to incorporate this
 * inclusion directly in any other asset bundle and remove this file.
 *
 *= require trix
*/

/*
 * We need to override trix.css’s image gallery styles to accommodate the
 * <action-text-attachment> element we wrap around attachments. Otherwise,
 * images in galleries will be squished by the max-width: 33%; rule.
*/
.trix-content .attachment-gallery > action-text-attachment,
.trix-content .attachment-gallery > .attachment {
  flex: 1 0 33%;
  padding: 0 0.5em;
  max-width: 33%;
}

.trix-content .attachment-gallery.attachment-gallery--2 > action-text-attachment,
.trix-content .attachment-gallery.attachment-gallery--2 > .attachment, .trix-content .attachment-gallery.attachment-gallery--4 > action-text-attachment,
.trix-content .attachment-gallery.attachment-gallery--4 > .attachment {
  flex-basis: 50%;
  max-width: 50%;
}

.trix-content action-text-attachment .attachment {
  padding: 0 !important;
  max-width: 100% !important;
}

/* app/assets/stylesheets/custom.css */

.trix-button-group--text-tools .trix-button,
.trix-button-group--file-tools .trix-button,
.trix-button-group--block-tools .trix-button,
.trix-button-group--history-tools .trix-button {
  color: #ffffff; /* White text */
  background-color: #2d3748; /* Dark gray background */
  border-color: #4a5568; /* Gray border */
}

.trix-button-group--text-tools .trix-button:hover,
.trix-button-group--file-tools .trix-button:hover,
.trix-button-group--block-tools .trix-button:hover,
.trix-button-group--history-tools .trix-button:hover {
  color: #ffffff; /* White text on hover */
  background-color: #4a5568; /* Slightly lighter gray background on hover */
  border-color: #718096; /* Lighter gray border on hover */
}

.trix-button-group--text-tools .trix-active,
.trix-button-group--file-tools .trix-active,
.trix-button-group--block-tools .trix-active,
.trix-button-group--history-tools .trix-active {
  color: #ffffff; /* White text when active */
  background-color: #4a5568; /* Slightly lighter gray background when active */
  border-color: #718096; /* Lighter gray border when active */
}

/* Tailwind Override */
.trix-content {
  width: 100%;
}

.trix-content h1 {
  font-size: 1.25rem !important;
  line-height: 1.25rem !important;
  margin-bottom: 1rem;
  font-weight: 600;
  color: white;
}

.trix-content h2 {
  font-size: 1rem !important;
  line-height: 1rem !important;
  margin-bottom: 1rem;
  font-weight: 500;
  color: white;
}

.trix-content h3 {
  font-size: 0.75rem !important;
  line-height: 0.75rem !important;
  margin-bottom: 0.75rem;
  font-weight: 400;
  color: white;
}

.trix-content a:not(.no-underline) {
  text-decoration: underline;
  color: #3B82F6;
  font-weight: 600;
}

.trix-content a:visited {
  color: green;
}

.trix-content ul {
  list-style-type: disc;
  padding-left: 1rem;
}

.trix-content ol {
  list-style-type: decimal;
  padding-left: 1rem;
}

.trix-content pre {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  font-family: monospace;
  font-size: 0.7em;
  padding: 0.5em;
  white-space: pre;
  background-color: #320950;
  overflow-x: auto;
}

/* app/assets/stylesheets/custom_action_text.css */

/* Style for code blocks */
.action-text code, pre {
  background-color: #1e1e1e; /* Dark background */
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
}

/* Style for headers */
.action-text h1, .action-text h2, .action-text h3, .action-text h4, .action-text h5, .action-text h6 {
  color: #ffffff; /* Light text for headers */
}

/* Ensure action-text class applies to content */
.action-text {
  background-color: #121212; /* Dark background for the content area */
  color: #e0e0e0;           /* Light text for the content */
  padding: 20px;
  border-radius: 10px;
}


.trix-content blockquote {
  border: 0 solid #ccc;
  border-left-width: 0px;
  border-left-width: 0.3em;
  margin-left: 0.3em;
  padding-left: 0.6em;
}

.trix-editor {
  width: 100%;
}

.trix-editor h1 {
  font-size: 1.25rem !important;
  line-height: 1.25rem !important;
  margin-bottom: 1rem;
  font-weight: 600;
}

.trix-editor h2 {
  font-size: 1rem !important;
  line-height: 1rem !important;
  margin-bottom: 1rem;
  font-weight: 500;
}

.trix-editor h3 {
  font-size: 0.75rem !important;
  line-height: 0.75rem !important;
  margin-bottom: 0.75rem;
  font-weight: 400;
}

.trix-editor a:not(.no-underline) {
  text-decoration: underline;
  color: #3B82F6;
  font-weight: 600;
}

.trix-editor a:visited {
  color: green;
}

.trix-editor ul {
  list-style-type: disc;
  padding-left: 1rem;
}

.trix-editor ol {
  list-style-type: decimal;
  padding-left: 1rem;
}

.trix-editor pre {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  font-family: monospace;
  font-size: 1.5em;
  padding: 0.5em;
  white-space: pre;
  background-color: #eee;
  overflow-x: auto;
}

.trix-editor blockquote {
  border: 0 solid #ccc;
  border-left-width: 0px;
  border-left-width: 0.3em;
  margin-left: 0.3em;
  padding-left: 0.6em;
}